# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [5]:
# your code here)
admissions_predict = pd.read_csv(r'/Users/akbare/Desktop/IronhackDA/DAFT_212/Module_1/Lab_30_Python-Plus/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [18]:
# your code here
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [12]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [13]:
# your code here
admissions_predict.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
# your code here

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [16]:
# your code here
admissions_predict['GRE Score'].unique()

array([337, 316, 322, 314, 330, 321, 308, 302, 323, 327, 328, 307, 311,
       317, 319, 318, 303, 325, 334, 336, 298, 295, 310, 300, 338, 340,
       331, 320, 299, 304, 313, 332, 326, 329, 339, 312, 324, 309, 315,
       301, 296, 294, 306, 305, 290, 335, 333, 297, 293])

In [17]:
admissions_predict['CGPA'].unique()

array([9.65, 8.  , 8.67, 8.21, 9.34, 8.2 , 7.9 , 8.6 , 9.  , 9.1 , 8.3 ,
       8.7 , 8.8 , 8.5 , 8.4 , 9.5 , 9.7 , 9.8 , 7.5 , 7.2 , 7.3 , 8.1 ,
       9.4 , 9.6 , 9.2 , 7.8 , 7.7 , 9.3 , 8.85, 7.4 , 7.6 , 6.8 , 8.92,
       9.02, 8.64, 9.22, 9.16, 9.64, 9.76, 9.45, 9.04, 8.9 , 8.56, 8.72,
       8.22, 7.54, 7.36, 8.02, 9.36, 8.66, 8.42, 8.28, 8.14, 7.92, 7.66,
       8.03, 7.88, 7.84, 8.96, 9.24, 8.88, 8.46, 8.12, 8.25, 8.47, 9.05,
       8.78, 9.18, 9.46, 9.38, 8.48, 8.68, 8.34, 8.45, 8.62, 7.46, 7.28,
       8.84, 9.56, 9.48, 8.36, 9.32, 8.71, 9.35, 8.65, 9.28, 8.77, 8.16,
       9.08, 9.12, 9.15, 9.44, 9.92, 9.11, 8.26, 9.43, 9.06, 8.75, 8.89,
       8.69, 7.86, 9.01, 8.97, 8.33, 8.27, 7.98, 8.04, 9.07, 9.13, 9.23,
       8.87, 8.98, 8.94, 9.53, 8.76, 8.52, 8.54, 9.91, 9.87, 7.65, 7.89,
       9.14, 9.66, 9.78, 9.42, 9.26, 8.23, 8.07, 9.31, 9.17, 9.19, 8.37,
       7.68, 8.15, 8.73, 8.83, 8.57, 9.68, 8.09, 8.79, 8.17, 7.64, 8.01,
       7.95, 8.49, 7.87, 7.97, 8.18, 8.32, 8.55, 8.43, 8.53, 8.74, 8.44,
       9.47, 8.24, 8.13, 7.34, 7.43, 7.25, 8.06, 7.67, 9.54, 9.62, 7.56,
       9.74, 9.82, 7.96])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [ ]:
# your code here

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [21]:
# your code here
admissions_predict[admissions_predict['CGPA']>9].groupby('CGPA').mean()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
CGPA,,,,,,,,
9.01,188.000000,326.500000,111.000000,4.000000,3.750000,3.500000,1.000000,0.815000
9.02,191.000000,323.000000,109.333333,3.666667,4.000000,3.500000,0.333333,0.746667
9.04,193.000000,318.400000,109.600000,3.400000,3.900000,3.700000,0.800000,0.780000
9.05,100.000000,326.000000,112.000000,3.000000,3.500000,3.000000,1.000000,0.740000
9.06,173.500000,323.000000,110.000000,4.500000,4.750000,4.500000,1.000000,0.825000
9.07,165.000000,334.000000,117.000000,5.000000,4.000000,4.500000,1.000000,0.890000
9.08,203.500000,325.000000,115.000000,3.500000,4.750000,3.750000,1.000000,0.845000
9.10,102.200000,326.200000,112.200000,3.800000,4.200000,3.800000,0.800000,0.832000
9.11,251.000000,323.000000,112.800000,3.200000,3.700000,4.000000,0.800000,0.844000
9.12,251.333333,321.666667,111.666667,3.000000,3.833333,4.000000,0.333333,0.823333
9.13,207.333333,323.333333,109.000000,4.333333,4.333333,4.166667,1.000000,0.860000
9.14,256.666667,327.000000,113.000000,3.666667,4.333333,4.333333,0.666667,0.820000
9.15,251.000000,326.500000,110.000000,3.000000,4.250000,3.500000,1.000000,0.830000
9.16,139.333333,327.000000,115.000000,4.333333,4.500000,4.166667,1.000000,0.860000
9.17,288.000000,327.500000,113.000000,4.000000,4.250000,3.750000,1.000000,0.855000
9.18,200.500000,328.500000,109.500000,4.000000,4.500000,4.250000,1.000000,0.855000
9.19,250.000000,332.500000,116.000000,5.000000,4.500000,4.500000,1.000000,0.890000
9.20,32.000000,320.000000,110.000000,5.000000,5.000000,5.000000,1.000000,0.880000
9.22,167.000000,320.666667,109.666667,3.666667,4.000000,3.833333,1.000000,0.830000
9.23,279.750000,329.000000,112.500000,4.500000,4.375000,4.375000,1.000000,0.892500
9.24,190.000000,331.000000,116.500000,3.500000,4.750000,4.500000,1.000000,0.900000
9.26,240.000000,326.500000,114.000000,4.500000,4.250000,4.250000,1.000000,0.920000
9.28,137.000000,332.500000,114.500000,5.000000,4.500000,4.500000,1.000000,0.915000
9.30,43.000000,329.000000,114.000000,5.000000,4.000000,5.000000,1.000000,0.860000
9.31,223.000000,330.000000,113.000000,5.000000,5.000000,4.000000,1.000000,0.910000
9.32,122.000000,323.000000,113.000000,3.000000,4.000000,3.000000,1.000000,0.850000
9.34,126.000000,330.500000,117.000000,4.500000,4.750000,3.750000,1.000000,0.900000
9.35,125.000000,333.000000,118.000000,5.000000,5.000000,5.000000,1.000000,0.920000
9.36,150.500000,328.750000,116.000000,4.250000,4.500000,4.000000,1.000000,0.920000
9.38,104.000000,331.000000,116.000000,5.000000,5.000000,5.000000,1.000000,0.930000
9.40,35.000000,332.000000,115.500000,4.500000,3.750000,4.250000,1.000000,0.910000
9.42,205.000000,331.000000,117.000000,4.000000,4.500000,5.000000,1.000000,0.940000
9.43,144.000000,334.000000,114.000000,4.000000,4.000000,4.000000,1.000000,0.930000
9.44,158.000000,333.000000,116.500000,5.000000,4.250000,3.500000,1.000000,0.925000
9.45,199.250000,330.000000,113.750000,4.750000,4.875000,4.625000,1.000000,0.917500
9.46,103.000000,338.000000,117.000000,4.000000,3.500000,4.500000,1.000000,0.910000
9.47,323.000000,332.000000,118.000000,5.000000,5.000000,5.000000,1.000000,0.940000
9.48,117.000000,334.000000,119.000000,5.000000,4.500000,4.500000,1.000000,0.940000
9.50,49.000000,334.000000,118.000000,4.500000,5.000000,5.000000,1.000000,0.950000
9.53,185.000000,336.000000,118.000000,5.000000,4.500000,5.000000,1.000000,0.940000
9.54,347.000000,334.000000,116.000000,4.000000,4.000000,3.500000,1.000000,0.930000
9.56,116.000000,335.000000,117.000000,5.000000,5.000000,5.000000,1.000000,0.940000
9.60,30.000000,340.000000,114.000000,5.000000,4.000000,4.000000,1.000000,0.900000
9.62,358.000000,336.000000,119.000000,4.000000,4.500000,4.000000,1.000000,0.950000
9.64,67.000000,332.000000,118.000000,5.000000,5.000000,5.000000,1.000000,0.940000
9.65,1.000000,337.000000,118.000000,4.000000,4.500000,4.500000,1.000000,0.920000
9.66,286.666667,337.000000,116.333333,4.000000,5.000000,4.500000,1.000000,0.946667
9.68,242.000000,335.000000,115.000000,4.000000,4.500000,4.500000,1.000000,0.930000
9.70,32.500000,336.500000,119.000000,5.000000,4.750000,4.250000,0.500000,0.920000
9.74,370.000000,340.000000,113.000000,4.000000,5.000000,5.000000,1.000000,0.960000
9.76,97.000000,337.500000,113.000000,5.000000,4.500000,4.750000,1.000000,0.960000
9.78,204.000000,333.000000,119.000000,5.000000,5.000000,4.500000,1.000000,0.960000
9.80,65.000000,335.333333,115.666667,4.666667,4.000000,4.000000,1.000000,0.956667
9.82,371.000000,335.000000,117.000000,5.000000,5.000000,5.000000,1.000000,0.960000
9.87,194.000000,334.000000,120.000000,5.000000,4.000000,5.000000,1.000000,0.970000
9.91,193.000000,340.000000,120.000000,5.000000,4.500000,4.500000,1.000000,0.970000
9.92,137.000000,340.000000,120.000000,4.000000,4.500000,4.000000,1.000000,0.970000

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [22]:
# your code here
admissions_predict[admissions_predict['CGPA']>3.5].groupby('SOP').mean()

,Serial No.,GRE Score,TOEFL Score,University Rating,LOR,CGPA,Research,Chance of Admit
SOP,,,,,,,,
1.0,260.833333,304.000000,99.000000,1.166667,1.916667,7.765000,0.166667,0.538333
1.5,201.750000,302.250000,99.000000,1.800000,2.225000,7.726500,0.150000,0.521500
2.0,211.515152,308.606061,102.666667,2.151515,2.651515,8.061818,0.181818,0.602727
2.5,244.934783,309.913043,103.413043,2.195652,2.847826,8.246739,0.304348,0.649783
3.0,180.016129,314.080645,105.758065,2.693548,3.153226,8.402258,0.467742,0.684677
3.5,208.373134,315.925373,107.507463,2.940299,3.417910,8.584478,0.626866,0.717612
4.0,155.808824,321.308824,110.058824,3.558824,3.889706,8.850588,0.691176,0.777500
4.5,178.857143,326.673469,112.714286,4.142857,4.102041,9.152449,0.795918,0.848776
5.0,175.794118,327.558824,113.470588,4.647059,4.602941,9.322353,0.882353,0.890588

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [24]:
from sklearn.preprocessing import normalize, StandardScaler

In [ ]:
# your code here
# Subset of columns to transform
admissions=['CGPA_std','GRE_std','LOR_std']

# Overwrite old columns with transformed columns
admissions_predict['admissions']= StandardScaler.fit_transform(admissions_predict['admissions'])

We will generate the decision choice at random using the code below. Please run the cell.

In [28]:
# Libraries
from random import choices

In [ ]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here
admissions_predict['decision_choice'] = admissions_predict.lookup(admissions_predict.deciding_column,admissions_predict ['admissions'])

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code her
 
admissions['decision'] =decision

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here
print('deciding_column')

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here
dmissions.columns

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here
adjusted_gre